In [56]:
# Import dependencies

import pandas as pd
import psychrolib
import os
import json

In [85]:
os.chdir('C:/Users/amitc_crl/OneDrive/Documents/GitHub/ClimateData/Dehumidification')
psychrolib.SetUnitSystem(psychrolib.IP)
weatherFile = 'Illinois, Chicago-Midway AP (725340) - PHIUS+ Climate Data.xls'

data = pd.read_excel(str(weatherFile))
location = data['Passive House Planning'].values[4]
altitude = data['Unnamed: 7'].values[19]
altitude = 0
atmPressure = psychrolib.GetStandardAtmPressure(altitude)
humRatioLimit = 0.01

days = []
dewPoints = []
humRatios = []
deltas = []
ddds = []

for x in range(12):
    n = x + 2
    column = 'Unnamed: ' + str(n)
    day = data[str(column)].values[3]
    dewPoint = data[str(column)].values[26]
    days.append(day)
    dewPoints.append(dewPoint)

for x in dewPoints:
    humRatio = psychrolib.GetHumRatioFromTDewPoint(x,atmPressure)
    humRatios.append(humRatio)
    delta = humRatio - humRatioLimit
    if delta > 0:
        deltas.append(delta)
    else:
        deltas.append(0)

for x in range(len(days)):
    ddd = days[x] * deltas[x]
    ddds.append(ddd)

ddd = sum(ddds)
print(ddd)

0.12354493814539037

,Unnamed: 0,Passive House Planning,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,OFFICIAL CLIMATE DATA SET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,METRIC:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Month,1,2.000000,3,4.000000,5,6.000000,7.000000,8.000000,9,10.000000,11,12,Heating Load,NaN,Cooling Load
3,NaN,Days,31,28.000000,31,30.000000,31,30.000000,31.000000,31.000000,30,31.000000,30,31,Weather 1,Weather 2,Radiation
4,NaN,CHICAGO MIDWAY AP IL,Latitude:,41.783000,Longitude ° East:,-87.750000,Altitude (m):,186.000000,0.000000,NaN,Daily temperature variation summer (K),8.700000,Radiation Data:,kWh/(m²*month),Radiation: W/m²,NaN,W/m²
5,NaN,Ambient Temp (°C),-5.7,-1.800000,4.9,11.200000,13.9,21.400000,25.200000,24.200000,21.2,13.500000,8.6,-0.8,-20.5,-7.6,28.7
6,NaN,North,24,27.000000,33,38.000000,55,60.000000,64.000000,48.000000,35,26.000000,20,19,47,29,76
7,NaN,East,53,61.000000,80,93.000000,109,115.000000,135.000000,118.000000,101,75.000000,67,52,128,52,152
8,NaN,South,89,90.000000,89,75.000000,82,75.000000,85.000000,95.000000,109,98.000000,117,101,232,62,99
9,NaN,West,35,41.000000,48,61.000000,86,88.000000,89.000000,82.000000,69,45.000000,35,31,85,34,101
10,NaN,Global,51,62.000000,91,120.000000,169,179.000000,190.000000,165.000000,133,87.000000,69,50,120,51,210
11,NaN,Dewpoint,-10.8,-6.800000,-1.2,5.900000,6.9,13.900000,16.000000,17.000000,14.8,6.600000,0.9,-6,NaN,NaN,NaN
12,NaN,Sky temperature,-28.9,-18.800000,-13.1,-5.400000,-2.3,3.900000,8.300000,9.300000,4.9,-3.900000,-9.9,-23.3,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,US CUSTOMARY:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Month,1,2.000000,3,4.000000,5,6.000000,7.000000,8.000000,9,10.000000,11,12,Heating Load,NaN,Cooling Load
18,NaN,Days,31,28.000000,31,30.000000,31,30.000000,31.000000,31.000000,30,31.000000,30,31,Weather 1,Weather 2,Radiation
19,NaN,CHICAGO MIDWAY AP IL,Latitude:,41.783000,Longitude ° East:,-87.750000,Altitude (ft):,610.236220,0.000000,NaN,Daily temperature variation summer (F),15.660000,Radiation Data:,kBTU/(ft².month),Radiation: BTU/hr.ft²,NaN,BTU/hr.ft²
20,NaN,Ambient Temp (°F),21.74,28.760000,40.82,52.160000,57.02,70.520000,77.360000,75.560000,70.16,56.300000,47.48,30.56,-4.9,18.32,83.66
21,NaN,North,7.607964,8.558959,10.46095,12.045942,17.434917,19.019909,20.287903,15.215927,11.094947,8.241961,6.33997,6.022971,14.898929,9.192956,24.091885
22,NaN,East,16.80092,19.336908,25.359879,29.480859,34.552835,36.454826,42.794796,37.405821,32.016847,23.774886,21.238899,16.483921,40.575806,16.483921,48.18377
23,NaN,South,28.212865,28.529864,28.212865,23.774886,25.993876,23.774886,26.944871,30.114856,34.552835,31.065852,37.088823,32.016847,73.543649,19.653906,31.38285
24,NaN,West,11.094947,12.996938,15.215927,19.336908,27.26187,27.895867,28.212865,25.993876,21.872896,14.264932,11.094947,9.826953,26.944871,10.777949,32.016847
25,NaN,Global,16.166923,19.653906,28.846862,38.039818,53.572744,56.742729,60.229712,52.304750,42.160799,27.578868,21.872896,15.849924,38.039818,16.166923,66.569682
26,NaN,Dewpoint,12.56,19.760000,29.84,42.620000,44.42,57.020000,60.800000,62.600000,58.64,43.880000,33.62,21.2,NaN,NaN,NaN
27,NaN,Sky temperature,-20.02,-1.840000,8.42,22.280000,27.86,39.020000,46.940000,48.740000,40.82,24.980000,14.18,-9.94,NaN,NaN,NaN